<div class="container">
  <h1>Customer List
    <a [routerLink]="['/customer-create']" class="btn btn-default btn-lg">
      (Add Customer)
    </a>
  </h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cust of customers">
        <td>{{ cust.name }}</td>
        <td>{{ cust.address }}</td>
        <td><a [routerLink]="['/customer-details/',cust.id]">Show Detail</a></td>
      </tr>
    </tbody>
  </table>
</div>
