<div class="container">
  <h1>{{ customer.name }}</h1>
  <dl class="list">
    <dt>Address</dt>
    <dd>{{ customer.address }}</dd>
    <dt>City</dt>
    <dd>{{ customer.city }}</dd>
    <dt>Postal Code</dt>
    <dd>{{ customer.postalCode }}</dd>
    <dt>Phone Number</dt>
    <dd>{{ customer.phone }}</dd>
  </dl>
  <div class="row">
    <div class="col-md-12">
      <a [routerLink]="['/customer-edit', customer.id]" class="btn btn-success">EDIT</a>
      <button class="btn btn-danger" type="button" (click)="deleteCustomer(customer.id)">DELETE</button>
    </div>
  </div>
</div>
